<div class="card">
    <div class="card-title">
        <h2>Zad14</h2>
    </div>
    <div class="card-body">
        <button class="btn btn-primary" (click)="show()">Pokaż</button>
        <p>{{sendText}}</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <!-- tutaj jest przyklad jak odebrac text od dziecka do rodzica; nalezy wywolac funkcje z eventem dla odpowiedniej property wysylanej od childa; -->
        <app-zad14-second (sendText)="showText($event)" *ngIf="isShowed"></app-zad14-second>
    </div>
</div>
