<div class="card" style="width: 18rem">
    <div class="card-title">
        <h2>Zad 8</h2>
    </div>
    <div class="card-body">
        <p>{{counter}}</p>
        <ul class="list-group">
            <li class="list-group-item"><button class="btn btn-primary" (click)="minusOne()">-1</button> <button
                    class="btn btn-primary" (click)="plusOne()">+1</button></li>
            <li class="list-group-item"><button class="btn btn-primary" (click)="minusTwo()">-2</button> <button
                    class="btn btn-primary" (click)="plusTwo()">+2</button></li>
        </ul>
    </div>
</div>