<hr>
<div class="content">
    <h3><b>Zad. 1-4</b></h3>
    <app-zad01></app-zad01>
</div>
<hr>
<div class="content">
    <h3><b>Zad. 5-6</b></h3>
    <app-zad05></app-zad05>
</div>
<hr>
<div class="content">
    <h3><b>Zad 7-8</b></h3>
    <app-zad07></app-zad07>
</div>
<hr>
<div class="content">
    <h3><b>Zad. 9-11</b></h3>
    <app-zad09></app-zad09>
</div>
<hr>
<div class="content">
    <app-zad12c1>Zad. 12-13</app-zad12c1>
</div>
<hr>
<div class="content">
    <h3><b>Zad 14</b></h3>
    <app-zad14c1></app-zad14c1>
</div>
<hr>