<div class="card">
  <div class="card-body">
    <div class="form">
      <div class="form-group">
        <label for="input-text">
          <h4>{{ title }}</h4>
          <input
            class="form-control"
            id="input-text"
            type="text"
            (input)="onChange($event)"
          />
          <div class="text-center">
            <h5>
              Here is text from input:
              <p>{{ event }}</p>
            </h5>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
