<section class="card m-4">
    <form>
        <div class="card-header">
            <div class="card-title">
                <h4>Nowy autor</h4>
            </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="control-label">Imie</label>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Podaj imie" />
            </div> 
        </div>
        <div class="form-group">
            <label class="control-label">Nazwisko</label>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Podaj nazwisko" />
            </div> 
        </div>
        <div class="form-group">
            <label class="control-label">email</label>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Podaj email" />
            </div> 
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Zatwierdz</button>
                <button class="btn btn-link">anuluj</button>
            </div>
        </div>
    </div>
</form>
</section>