.background_red
{
    background-color: red;
}

.background_blue
{
    background-color: blue;
}

.background_green
{
    background-color: green;
}

.background_white
{
    background-color: white;
}