<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h1><a class="navbar-brand" href="#">Tasks from lab3</a></h1>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Task 1-4</h1>
      <app-tasks></app-tasks>
    </div>
    <div class="row">
      <div class="col">
        <h1>Task 5</h1>
        <app-zad5></app-zad5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Task 7-8</h1>
        <app-zad7i8></app-zad7i8>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Task 9-11</h1>
        <app-zad9do11></app-zad9do11>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Task 12-13</h1>
        <app-zad12i13-first></app-zad12i13-first>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Task 14-16</h1>
        <app-zad1416></app-zad1416>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Task 17-18</h1>
        <app-zad17></app-zad17>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>
          Angular form tasks start.
          <hr />
        </h2>
        <h1>Task 19</h1>
        <app-zad19></app-zad19>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1>Task 20</h1>
        <app-zad20></app-zad20>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Task 27</h1>
        <app-zad27></app-zad27>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Task 30</h1>
        <router-outlet> </router-outlet>
      </div>
    </div>
  </div>
</div>
